<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="/">Homepage</a></li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
    <a href="https://www.tottenhamhotspur.com" target="_blank" rel="noopener" title="Come On You Spurs" style="position:absolute;top:50%;right:1em;transform:translateY(-50%);text-decoration:none;font-size:1.1em;opacity:0.5;transition:opacity 0.15s;z-index:30" onmouseover="this.style.opacity='1'" onmouseout="this.style.opacity='0.5'">🤍</a>
  </div>
</div>